* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* VARIABLES */
.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00E676;
  font-size: 30px;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 50%;
  z-index: 10000;
  text-decoration: none;
  color: #fff; }

.whatsapp-button:hover {
  outline: none;
  text-decoration: none; }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .whatsapp-button {
    font-size: 35px;
    height: 75px;
    width: 75px;
    bottom: 50px;
    right: 50px; } }

.banner__btn {
  margin-bottom: 25vh; }
  @media screen and (max-height: 340px) {
    .banner__btn {
      margin-bottom: 10vh; } }
  @media screen and (max-height: 440px) {
    .banner__btn {
      margin-bottom: 15vh; } }
  .banner__btn__button {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #E4B937;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #333;
    border: none;
    font-weight: bolder;
    width: auto; }
    .banner__btn__button:hover {
      background-color: #333;
      color: #E4B937; }
    @media screen and (min-width: 767.98px) {
      .banner__btn__button {
        padding: 23px 30px; } }
    @media screen and (min-width: 575.98px) {
      .banner__btn__button {
        font-size: 1.5rem; } }

.btn {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px;
  background-color: #E4B937;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 0.4s;
  color: #333;
  border: none;
  font-weight: bolder;
  width: auto;
  padding: 15px 10px;
  margin: 10px 5px 0 5px; }
  .btn:hover {
    background-color: #333;
    color: #E4B937; }
  @media screen and (min-width: 767.98px) {
    .btn {
      padding: 23px 30px; } }

.blog__btn {
  padding: 10px 10px;
  background-color: #333;
  color: #fff;
  transition-duration: 0.1s;
  margin: 10px 0; }
  .blog__btn:hover {
    background-color: #E4B937;
    color: #333;
    transform: scale(1.2); }

.swal-button {
  background-color: #E4B937;
  color: #333; }
  .swal-button:not([disabled]):hover {
    background-color: #333;
    color: #E4B937; }

.swal-overlay {
  background-color: rgba(51, 51, 51, 0.932); }

.carrito {
  width: 240px;
  right: 0px; }
  .carrito-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #777;
    font-size: 25px;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    border-radius: 50%;
    border: none;
    z-index: 10000;
    text-decoration: none;
    color: #fff;
    cursor: pointer; }
    .carrito-button:hover {
      outline: none;
      text-decoration: none; }
  .carrito-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    font-size: 15px;
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 140px;
    right: 5px;
    border-radius: 50%;
    z-index: 10001;
    text-decoration: none;
    color: #fff; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.534);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 19000;
  transition: all 0.3s linear;
  visibility: hidden; }
  .overlay__transparentBcg {
    visibility: visible; }

.navCart {
  min-width: 100%;
  height: 100%;
  position: fixed;
  background-color: #d3d2d2;
  top: 0;
  right: 0;
  z-index: 20000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  transition: all 0.3s linear;
  transform: translateX(100%); }
  .navCart__showCart {
    transform: translateX(0); }
  .navCart__titulo {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-top: 5rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .navCart__titulo::after {
      content: "";
      background-color: #E4B937;
      display: inline-block;
      width: 125px;
      height: 3px;
      margin-top: 1rem; }
  .navCart__close {
    align-self: flex-start; }
    .navCart__close--icon {
      font-size: 3rem;
      margin: 30px 0 0 30px;
      cursor: pointer; }
  .navCart__contenido {
    width: 100%; }
  .navCart__items {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px; }
    .navCart__items--img {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center; }
      .navCart__items--img img {
        width: 100%;
        height: 100%; }
    .navCart__items__producto {
      text-align: left;
      width: 250px;
      padding: 10px; }
    .navCart__items--nombre {
      display: flex;
      flex-flow: column wrap; }
    .navCart__items--precio {
      font-weight: bolder;
      font-size: 2rem;
      color: red; }
      .navCart__items--precio::before {
        content: 'AR$ '; }
    .navCart__items__cantidad {
      text-align: center;
      border: none;
      background: #999;
      width: 30px; }
      .navCart__items__cantidad--num {
        margin-bottom: 0; }
      .navCart__items__cantidad--flecha {
        color: #E4B937;
        cursor: pointer;
        padding: 10px 0; }
  .navCart__cantidad {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .navCart__cartTotal::before {
    content: 'AR$ '; }
  .navCart__footer {
    width: 85%;
    text-align: center; }
    .navCart__footer--h3 {
      text-transform: uppercase; }
    .navCart__footer--vaciarBtn {
      width: 50%; }

.remove-item {
  color: #777; }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .carrito-button {
    font-size: 35px;
    height: 75px;
    width: 75px;
    bottom: 150px;
    right: 50px; }
  .carrito-items {
    bottom: 205px;
    right: 50px; }
  .navCart {
    width: 30vw;
    min-width: 450px; } }

.preventa {
  position: absolute;
  top: -10px;
  right: -10px;
  transform: rotate(25deg);
  text-align: center;
  display: flex;
  align-items: center;
  background: #ee0707;
  height: 75px;
  width: 75px;
  border-radius: 50%; }
  .preventa-txt {
    font-size: 15px;
    line-height: normal;
    font-weight: 600;
    z-index: 10001;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }

.header {
  text-align: left;
  width: 100%;
  position: fixed;
  z-index: 100; }
  .header__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 20px; }

.hamb {
  display: none; }
  .hamb__label {
    position: absolute;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center; }

.menu__list {
  position: fixed;
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #333;
  left: -150%;
  transition: all .5s;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.menu__item {
  margin-bottom: 15px;
  margin-left: 15px; }

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800; }

.menu__link:hover {
  color: #E4B937;
  transition: ease-in .1s; }

.menu__sub-list {
  display: none; }

.hamb:checked ~ .menu .menu__list {
  left: 0; }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .menu__list {
    padding-left: 150px; } }

@media screen and (min-width: 767.98px) {
  .menu__list {
    padding-left: 200px; }
  .menu__link {
    font-size: 4rem; } }

@media screen and (min-width: 991.98px) {
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    flex: 1 1 auto; }
    .header__logo {
      margin-left: 50px; }
  .hamb__label {
    display: none; }
  .menu {
    height: 70px;
    background-color: rgba(51, 51, 51, 0.788);
    border-radius: .5rem;
    margin-right: 25px;
    display: flex;
    align-items: center;
    flex: 0 1 auto; }
    .menu__list {
      all: unset;
      padding-left: 15px;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center; }
    .menu__item {
      padding: 1rem;
      margin: 0;
      position: relative; }
    .menu__link {
      text-decoration: none;
      display: block;
      padding: 1.5rem;
      text-align: center;
      font-size: 1.5rem; }
    .menu__link:hover {
      background-color: rgba(255, 255, 255, 0.075);
      padding: 15px;
      border-radius: 5px; }
    .menu__sub-list {
      position: absolute;
      list-style-type: none; }
    .menu__sub-item {
      background-color: #333;
      margin: 0;
      padding: 10px; }
    .menu__item:hover .menu__sub-list {
      display: block; }
    .menu__sub-link {
      text-decoration: none;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      font-size: 1.25rem;
      color: #fff;
      display: block;
      padding: 20px; }
      .menu__sub-link:hover {
        color: #E4B937;
        background-color: rgba(255, 255, 255, 0.075);
        border-radius: 5px; }
    .menu__link-insta {
      display: none; }
  .articulo--bg {
    margin: 70px 0; } }

@media screen and (max-height: 280px) {
  .menu__list {
    margin-top: 20px;
    padding: 15px 0 0 100px;
    justify-content: flex-start; }
  .menu__link {
    font-size: 2rem;
    line-height: 1rem; } }

@media screen and (max-height: 470px) {
  .menu__list {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 0 100px;
    justify-content: center; }
  .menu__link {
    font-size: 2rem;
    line-height: 1rem; } }

body {
  margin: 0 auto;
  max-width: 18000px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem; }

.contenedor {
  width: 100%; }

.main {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .main__contenedor-nos {
    width: 100%; }
  .main__articulo {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px; }
  .main__titulos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px; }
    .main__titulos--h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2.8rem;
      color: #444;
      font-weight: 800;
      text-align: center; }
    .main__titulos--h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777; }
    .main__titulos--claro {
      color: #fcfcfc; }
  .main__txt {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background-color: #DEDEDE; }
    .main__txt--p {
      font-size: 2rem;
      color: #333;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      padding: 0 25px; }
  .main__prod {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px; }
  .main__blog {
    width: 100%; }
  .main__contenedor-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    padding: 0 10px 50px 10px; }

@media screen and (min-width: 575.98px) {
  .main__txt {
    width: 80%; }
    .main__txt--p {
      font-size: 3rem;
      color: #777; }
      .main__txt--p-bot {
        margin-bottom: 100px; }
      .main__txt--p-top {
        margin-top: 100px; } }

@media screen and (min-width: 767.98px) {
  .main__contenedor-cont {
    padding: 0 25px 100px 25px; } }

@media screen and (min-width: 991.98px) {
  .main__titulos--h1 {
    font-size: 5rem; }
  .main__titulos--h3 {
    font-size: 3rem; } }

.banner {
  background-image: url("../../images/1-BYN-inicio2.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: contain; }
  .banner__cont {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-end; }
  .banner__titulos {
    text-align: center;
    margin-bottom: 10vh; }
    .banner__titulos__h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2.8rem;
      color: #444;
      font-weight: 800;
      text-align: center; }
      .banner__titulos__h1--nos {
        font-family: "Poppins", sans-serif;
        font-size: 2.8rem;
        color: #444;
        font-weight: 800;
        text-align: center;
        color: #fff;
        font-size: 3.5rem;
        margin-bottom: 50px; }
    .banner__titulos__h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777; }
  .banner__banner-nos {
    background-image: url("../../images/banner-nosotros.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain; }
  .banner__banner-prod {
    background-image: url("../../images/banner-Prod.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain; }
  .banner__banner-blog {
    background-image: url("../../images/banner-blog-indio.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain; }
  .banner__banner-contacto {
    background-image: url("../../images/banner-contacto.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain; }

@media screen and (min-width: 340px) {
  .banner__titulos__h1 {
    font-size: 3.5rem; } }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .banner__titulos__h1 {
    font-size: 4rem; } }

@media screen and (min-width: 991.98px) {
  .banner__titulos__h1 {
    font-size: 5rem; }
  .titulos__h1 {
    font-size: 5rem; }
  .titulos__h3 {
    font-size: 2.5rem; } }

@media screen and (max-height: 340px) {
  .banner__titulos {
    margin-bottom: 0; }
    .banner__titulos__h1 {
      margin-bottom: 3vh;
      font-size: 2.5rem; }
    .banner__titulos__h3 {
      margin-bottom: 5vh; } }

.form {
  margin-bottom: 50px; }
  .form__suscripcion {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 25px; }
  .form__legend {
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    color: #444;
    font-weight: 800;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px; }
  .form__label {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 15px;
    color: #777;
    text-align: center;
    font-weight: 300; }
  .form__input {
    padding: 23px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    border: 1px #bbb solid;
    font-size: 1.75rem; }
  .form__button {
    -webkit-appearance: none;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #E4B937;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #333;
    border: none;
    font-weight: bolder;
    width: auto;
    margin: 50px 0;
    padding: 15px 45px;
    background-color: #333;
    color: #fff; }
    .form__button:hover {
      background-color: #333;
      color: #E4B937; }
    @media screen and (min-width: 767.98px) {
      .form__button {
        padding: 23px 30px; } }
    @media screen and (min-width: 575.98px) {
      .form__button {
        padding: 23px 50px; } }
    .form__button:hover {
      color: #333;
      background-color: #E4B937; }

.contacto {
  width: 95%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 15px 15px 5px -1px black;
  -webkit-box-shadow: 15px 15px 5px -1px black; }
  .contacto__form {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .contacto__icono {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .contacto__icono__img {
      width: 12%; }
  .contacto__postal {
    width: 100%; }
  .contacto__contenedor {
    width: 100%; }
  .contacto__input {
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    padding: 25px 0 10px 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid #999;
    color: #444; }
  .contacto__txt-box {
    width: 100%; }
  .contacto__text {
    width: 100%;
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 0 0 15px; }
  .contacto__desplegable {
    width: max-content;
    margin: 15px 0;
    padding: 10px;
    font-family: "Lustria", serif;
    font-weight: 800;
    color: #555; }
    .contacto__desplegable__opcion {
      font-family: "Lustria", serif;
      font-weight: 800;
      color: #555; }
  .contacto__check {
    width: 100%;
    padding: 15px 0; }
    .contacto__check__label {
      font-family: "Lustria", serif; }
  .contacto__btn {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #E4B937;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #333;
    border: none;
    font-weight: bolder;
    width: auto;
    width: 100%;
    margin-top: 10px;
    font-family: "Lustria", serif; }
    .contacto__btn:hover {
      background-color: #333;
      color: #E4B937; }
    @media screen and (min-width: 767.98px) {
      .contacto__btn {
        padding: 23px 30px; } }

.modals {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .modals__content {
    max-width: 400px;
    padding: 10px;
    border-top: 1px solid #999; }
  .modals__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .modals__titulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .modals__titulos--h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777; }
  .modals__postal {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
  .modals__contenedor {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start; }
  .modals__input {
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    width: 100%;
    padding: 25px 0 10px 10px;
    border: 0;
    border-bottom: 2px solid #999;
    color: #444; }
  .modals__desplegable {
    width: 100%;
    margin: 25px 0;
    padding: 10px;
    font-family: "Lustria", serif;
    color: #555; }
    .modals__desplegable__opcion {
      font-family: "Lustria", serif;
      color: #555; }
  .modals__txt-box {
    width: 100%; }
  .modals__text {
    width: 100%;
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    padding: 10px 0 0 15px; }
  .modals__btn {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #E4B937;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #333;
    border: none;
    font-weight: bolder;
    width: auto;
    width: 100%;
    margin-top: 10px;
    font-family: "Lustria", serif; }
    .modals__btn:hover {
      background-color: #333;
      color: #E4B937; }
    @media screen and (min-width: 767.98px) {
      .modals__btn {
        padding: 23px 30px; } }

@media screen and (min-width: 575.98px) {
  .contacto__form {
    padding: 0 70px; } }

@media screen and (min-width: 767.98px) {
  .form__legend {
    margin-bottom: 20px;
    font-size: 4rem; }
  .form__label {
    width: 75%; }
  .form__input {
    width: 60%; }
  .contacto {
    max-width: 975px;
    margin: 100px 0 125px 0; }
    .contacto__form {
      justify-content: space-around;
      padding: 10px; }
    .contacto__icono {
      order: -1; }
      .contacto__icono__img {
        width: 10%; }
    .contacto__postal {
      width: 45%; }
    .contacto__input {
      order: 2;
      font-size: 1.5rem;
      width: 100%;
      padding: 25px 0 10px 10px;
      margin: 10px 0; }
    .contacto__check {
      order: 3;
      padding: 25px; }
    .contacto__txt-box {
      order: -1;
      width: 45%;
      height: 300px; }
    .contacto__text {
      height: 100%;
      border: 0;
      border-right: 1px dashed #999;
      padding: 30px 0 0 15px; }
    .contacto__desplegable {
      order: 3; }
    .contacto__btn {
      order: 3;
      margin: 0 25px 25px 25px; } }

@media screen and (min-width: 991.98px) {
  .form__input {
    width: 40%; } }

a:hover {
  text-decoration-line: none;
  color: #fff; }

.footer {
  width: 100%;
  margin-top: 50px; }
  .footer__txt,
  .footer .txt {
    width: 100%;
    height: auto;
    background-color: #222;
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column; }
    .footer__txt__h3,
    .footer .txt__h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777;
      color: #fff;
      margin-bottom: 12.5px;
      margin-top: 12.5px;
      font-size: 1.5rem; }
    .footer__txt--contacto,
    .footer .txt--contacto {
      margin-top: 0px; }
  .footer__titulo {
    margin: 15px 0; }
    .footer__titulo__txt {
      color: #fff;
      text-decoration: underline;
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      font-weight: 700; }
  .footer__enlaces {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px; }
    .footer__enlaces__info {
      margin-top: 10px; }
    .footer__enlaces__link {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem; }
    .footer__enlaces__txt {
      font-size: 1.5rem;
      color: #fff;
      margin-left: 10px; }
  .footer__copyright {
    background-color: #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 6rem; }
    .footer__copyright__txt {
      color: #999;
      font-size: 1rem; }
  .footer__contacto--mt0 {
    margin-top: 0px; }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .footer__txt,
  .footer .txt {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; }
    .footer__txt__h3,
    .footer .txt__h3 {
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 25px; }
  .footer__titulo__txt {
    font-size: 2.25rem; }
  .footer__enlaces {
    margin-left: 20px; }
    .footer__enlaces__link {
      font-size: 2.5rem; }
  .footer__copyright__txt {
    font-size: 1.5rem; } }

@media screen and (min-width: 767.98px) {
  .footer {
    padding-top: 50px;
    margin-top: 50px; }
    .footer__txt,
    .footer .txt {
      padding: 100px 50px 100px 50px;
      margin-top: 100px; }
      .footer__txt--contacto,
      .footer .txt--contacto {
        margin-top: 0px; }
    .footer__titulo {
      margin: 15px 0; }
    .footer__enlaces {
      margin-top: 0; }
    .footer__contacto--mt0 {
      margin-top: 0px;
      padding-top: 0px; } }

@media screen and (min-width: 991.98px) {
  .footer__txt__h3,
  .footer .txt__h3 {
    font-size: 2.5rem; }
  .footer__titulo__txt {
    margin-bottom: 10px; }
  .footer__enlaces__info {
    margin-bottom: 10px; }
  .footer__enlaces__link {
    font-size: 3.25rem; }
  .footer__enlaces__txt {
    font-size: 2rem; } }

.prod {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .prod__cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px 0; }
  .prod__titulo {
    text-align: center; }
    .prod__titulo__h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777; }
    .prod__titulo__h3-anio {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #555;
      font-weight: 600;
      margin-bottom: 15px;
      color: #777; }
  .prod__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
  .prod__cards,
  .prod .cards {
    max-width: 350px;
    width: 100%;
    padding: 10px;
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.34);
    position: relative; }
    .prod__cards__fotoPpal,
    .prod .cards__fotoPpal {
      position: relative; }
    .prod__cards__link,
    .prod .cards__link {
      cursor: pointer; }
    .prod__cards__img,
    .prod .cards__img {
      width: 100%; }
    .prod__cards__zoom,
    .prod .cards__zoom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: .5s ease;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      .prod__cards__zoom__item,
      .prod .cards__zoom__item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .prod__cards__zoom--i,
      .prod .cards__zoom--i {
        font-size: 2rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.315);
        padding: 25px;
        border-radius: 50%;
        width: 100%;
        height: 100%; }
    .prod__cards__zoom:hover,
    .prod .cards__zoom:hover {
      opacity: 1; }
    .prod__cards__txt,
    .prod .cards__txt {
      padding: 20px 0 10px 0;
      width: 100%; }
    .prod__cards__titulo,
    .prod .cards__titulo {
      min-height: 44px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .prod__cards__titulo__h4,
      .prod .cards__titulo__h4 {
        font-family: "Ubuntu", sans-serif;
        color: #777;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center; }
    .prod__cards__autor__h5,
    .prod .cards__autor__h5 {
      font-size: 1.5rem;
      margin: 10px 0;
      text-align: center; }
    .prod__cards__precio,
    .prod .cards__precio {
      text-align: center;
      color: #f50101;
      font-size: 2rem; }
      .prod__cards__precio-precio::before,
      .prod .cards__precio-precio::before {
        content: "AR$ "; }
      .prod__cards__precio--tachado,
      .prod .cards__precio--tachado {
        text-decoration: line-through;
        font-size: 1.5rem; }
        .prod__cards__precio--tachado::before,
        .prod .cards__precio--tachado::before {
          content: "AR$ "; }
      .prod__cards__precio--modal,
      .prod .cards__precio--modal {
        padding: 20px 0;
        font-size: 3rem;
        color: #f50101; }

@media screen and (min-width: 340px) {
  __cards,
  .cards {
    margin: 25px; }
    __cards__txt,
    .cards__txt {
      width: 250px; } }

@media screen and (min-width: 767.98px) {
  .prod__titulo__h3 {
    font-size: 2.75rem;
    margin-bottom: 50px; }
  .prod__cards,
  .prod .cards {
    margin: 25px; }
  .btn {
    padding: 15px 15px; } }

@media screen and (min-width: 991.98px) {
  .prod__cards,
  .prod .cards {
    margin: 25px; } }

.carousel.slide {
  padding: 0; }
  .carousel.slide .carousel-control-next,
  .carousel.slide .carousel-control-prev {
    filter: invert(100%); }
  .carousel.slide .carousel-indicators .bg-img-1-1 {
    background-image: url("../../images/quagenda-sol-frente.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-1-2 {
    background-image: url("../../images/quagenda-sol-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-1-3 {
    background-image: url("../../images/quagenda-sol-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-2-1 {
    background-image: url("../../images/quagenda-sol2-frente.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-2-2 {
    background-image: url("../../images/quagenda-sol2-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-2-3 {
    background-image: url("../../images/quagenda-sol2-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-3-1 {
    background-image: url("../../images/viajar-blanco-frente.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-3-2 {
    background-image: url("../../images/viajar-blanco-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-3-3 {
    background-image: url("../../images/mock-viaje-cel2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-4-1 {
    background-image: url("../../images/luna-blanco1.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-4-2 {
    background-image: url("../../images/luna-blanco-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-4-3 {
    background-image: url("../../images/mock-Luna.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-5-1 {
    background-image: url("../../images/cuaderno1-frente.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-5-2 {
    background-image: url("../../images/cuaderno1.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-5-3 {
    background-image: url("../../images/mock-cuaderno1.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-6-1 {
    background-image: url("../../images/cuaderno2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-6-2 {
    background-image: url("../../images/cuaderno2-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-6-3 {
    background-image: url("../../images/mock-cuaderno2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-7-1 {
    background-image: url("../../images/bitacora1.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-7-2 {
    background-image: url("../../images/bitacora1-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-7-3 {
    background-image: url("../../images/mock-bitacora1.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-8-1 {
    background-image: url("../../images/bitacora2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-8-2 {
    background-image: url("../../images/bitacora2-dorso.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }
  .carousel.slide .carousel-indicators .bg-img-8-3 {
    background-image: url("../../images/mock-bitacora2.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    width: 30px;
    height: 25px; }

@media screen and (min-width: 767.98px) {
  .carousel.slide .carousel-indicators .bg-img-1-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-1-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-1-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-2-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-2-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-2-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-3-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-3-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-3-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-4-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-4-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-4-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-5-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-5-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-5-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-6-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-6-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-6-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-17-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-7-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-7-3 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-8-1 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-8-2 {
    width: 50px;
    height: 35px; }
  .carousel.slide .carousel-indicators .bg-img-8-3 {
    width: 50px;
    height: 35px; } }

.modal .modal-body {
  padding: 0 0 20px 0; }
  .modal .modal-body__titulo {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 2.5rem 0;
    color: #777;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 20px 0;
    text-align: center; }

.modal .modal-header, .modal .modal-header-color {
  display: flex;
  align-items: center;
  border-bottom: none;
  height: 60px;
  background-color: #333; }

.modal .modal-header-color {
  justify-content: space-between;
  padding: 0 15px;
  background-color: #333;
  margin-bottom: 15px; }

.modal .modal-logo {
  width: 25%; }

.modal .modal-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #555;
  font-weight: 600;
  margin-bottom: 15px;
  color: #777;
  margin-bottom: 0;
  color: #fff; }

.modal .modal-footer {
  padding: 0 10px 20px 10px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-top: none; }
  .modal .modal-footer__caract {
    padding: 20px; }
    .modal .modal-footer__caract__titulo {
      padding: 5px 10px; }
    .modal .modal-footer__caract__list {
      padding: 0 10px;
      list-style: none; }

.contenido-modal {
  font-size: 1.5rem;
  text-align: justify; }

.autor {
  text-align: right; }

.close {
  color: #fff;
  font-size: 2.5rem; }

@media screen and (min-width: 400px) {
  .modal .modal-logo {
    width: 15%; } }

@media screen and (min-width: 991.98px) {
  .modal .modal-header, .modal .modal-header-color {
    height: 80px; }
  .modal .modal-footer {
    padding: 0 50px;
    flex-flow: row wrap; }
    .modal .modal-footer__list {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      align-items: flex-start; } }

.articulo {
  width: 100%; }
  .articulo--bg {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
  .articulo__titulos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    width: 100%;
    height: 300px; }
    .articulo__titulos--h4 {
      font-family: "Ubuntu", sans-serif;
      font-size: 2rem;
      color: #fff;
      margin: 2.5rem 0;
      margin: 10px 0; }
  .articulo__txt {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 100%; }
    .articulo__txt--p {
      font-size: 2rem;
      color: #333;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      padding: 0 25px; }
  .articulo__img {
    width: 100%;
    object-fit: cover;
    display: block;
    padding: 10px 0; }

@media screen and (min-width: 340px) {
  .main__txt {
    width: 100%;
    background-color: #fff;
    min-height: 100px; }
    .main__txt--p-bot {
      margin-bottom: 50px; }
    .main__txt--p-top {
      margin-top: 50px; }
  .articulo__titulos {
    width: 350px; } }

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: 575.98px) {
  .articulo__titulos {
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin: 15px; }
    .articulo__titulos--h4 {
      color: #777;
      font-size: 3rem;
      padding: 5px; }
  .articulo__img {
    max-width: 350px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 20px; }
    .articulo__img--izq {
      transform: rotate(-7deg); }
    .articulo__img--der {
      transform: rotate(5deg); } }

@media screen and (min-width: 767.98px) {
  .main__articulo {
    padding: 0 50px; }
  .articulo--bg {
    margin: 25px 0; }
  .articulo__titulos {
    width: 500px; } }

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(250px, 350px));
  grid-template-areas: "titulo1" "foto12" "txt1" "txt2" "foto13" "titulo2" "foto1" "foto2" "foto10" "foto3" "foto4" "foto5" "foto5" "foto6" "foto7" "foto7" "foto8" "foto9" "foto11";
  padding: 0 20px;
  row-gap: 10px; }
  .grid__titulos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .grid__titulos1 {
    grid-area: titulo1; }
  .grid__titulos2 {
    grid-area: titulo2;
    background-color: #333;
    min-height: 350px; }
  .grid__cont1 {
    grid-area: txt1; }
  .grid__cont2 {
    grid-area: txt2; }
  .grid__foto1 {
    grid-area: foto1; }
  .grid__foto2 {
    grid-area: foto2; }
  .grid__foto3 {
    grid-area: foto3; }
  .grid__foto4 {
    grid-area: foto4; }
  .grid__foto5 {
    grid-area: foto5; }
  .grid__foto6 {
    grid-area: foto6; }
  .grid__foto7 {
    grid-area: foto7; }
  .grid__foto8 {
    grid-area: foto8; }
  .grid__foto9 {
    grid-area: foto9; }
  .grid__foto10 {
    grid-area: foto10; }
  .grid__foto11 {
    grid-area: foto11; }
  .grid__foto12 {
    grid-area: foto12; }
  .grid__foto13 {
    grid-area: foto13; }
  .grid__cont {
    background-color: #DEDEDE;
    min-height: 330px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
  .grid__h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    color: #444;
    font-weight: 800;
    text-align: center; }
    .grid__h1--blanco {
      color: #fff; }
  .grid__h3 {
    font-family: "Lustria", serif;
    color: #333;
    font-size: 2.5rem;
    font-weight: 200;
    text-align: right;
    padding: 0 50px;
    line-height: 3.75rem; }
  .grid__txt {
    padding: 0 50px;
    text-align: right;
    font-family: "Lustria", serif;
    font-size: 2rem;
    line-height: 2.5rem; }
    .grid__txt--destacado {
      color: #000;
      font-weight: bold; }
  .grid__img {
    width: 100%;
    object-fit: cover;
    display: block; }
  .grid__foto {
    position: relative; }
  .grid__frase {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .grid__frase--link {
      text-decoration: none;
      color: #333;
      position: absolute;
      font-size: 2rem;
      font-weight: bold; }
  .grid__foto:hover .grid__frase {
    opacity: 1; }

@media screen and (min-width: 575.98px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px, 500px));
    grid-template-areas: "titulo1 titulo1" "foto12 foto12" "txt1 txt1" "foto13 foto13" "txt2 txt2" "titulo2 titulo2" "foto1 foto1" "foto2 foto2" "foto4 foto3" "foto6 foto6" "foto5 foto7" "foto8 foto9" "foto10 foto10" "foto11 foto11";
    padding: 0 50px; }
    .grid__h3 {
      text-align: left; }
    .grid__cont {
      min-height: 500px; } }

@media screen and (min-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo1 titulo1" "foto12 txt1" "txt2 foto13" "vacio vacio " "titulo2 titulo2" "foto1 foto3" "foto2 foto2" "foto4 foto6" "foto5 foto7" "foto8 foto9" "foto10 foto10" "foto11 foto11";
    row-gap: 0; }
    .grid__cont {
      min-height: 330px; }
    .grid__vacio {
      grid-area: vacio;
      min-height: 100px; } }

@media screen and (min-width: 991.98px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "titulo1 titulo1 titulo1 titulo1 titulo1 titulo1" "vacio3 foto12 foto12 txt1 txt1 vacio4" ". foto12 foto12 txt1 txt1 ." ". txt2 txt2 foto13 foto13 ." ". txt2 txt2 foto13 foto13 ." "vacio1 vacio1 vacio1 vacio1 vacio1 vacio1" "titulo2 titulo2 titulo2 titulo2 titulo2 titulo2" "vacio foto1 foto1 foto2 foto2 vacio2" ". foto1 foto1 foto3 foto4 ." ". foto5 foto6 foto6 foto7 ." ". foto5 foto6 foto6 foto7 ." ". foto8 foto9 foto11 foto11 ." ". foto10 foto10 foto11	foto11 .";
    padding: 0; }
    .grid__h1 {
      font-size: 5rem; }
    .grid__vacio1 {
      grid-area: vacio1;
      height: 100px; }
    .grid__vacio {
      background-color: #333; }
    .grid__vacio2 {
      grid-area: vacio2;
      background-color: #333; }
    .grid__vacio3 {
      grid-area: vacio3; }
    .grid__vacio4 {
      grid-area: vacio4; } }

@media screen and (min-width: 1199.98px) {
  .grid__h3 {
    font-size: 3.5rem;
    line-height: 5rem; } }

.main__contenedor-prod {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  @media screen and (min-width: 575.98px) {
    .main__contenedor-prod {
      width: 95%; } }
  @media screen and (min-width: 767.98px) {
    .main__contenedor-prod {
      width: 85%; } }

.productos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.blog {
  padding: 0 15px;
  width: 100%; }
  .blog__contenedor {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .blog__art {
    padding: 0 0 30px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
  .blog__imagen {
    max-width: 350px; }
    .blog__imagen__img {
      width: 100%;
      object-fit: cover;
      border-radius: 3rem; }
  .blog__cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    max-width: 325px; }
    .blog__cont--titulo {
      font-family: "Ubuntu", sans-serif;
      font-size: 2rem;
      color: #fff;
      margin: 2.5rem 0;
      color: #777;
      font-size: 1.75rem;
      margin: 20px 0;
      text-align: center; }
  .blog__txt {
    text-align: justify; }
    .blog__txt--none {
      display: none; }

@media screen and (min-width: 767.98px) {
  .blog__imagen {
    margin-bottom: 20px;
    max-width: 400px; }
  .blog__cont {
    max-width: 500px;
    padding: 0 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; } }

@media screen and (min-width: 991.98px) {
  .blog__art {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    .blog__art--izq {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      align-items: center; }
  .blog__cont {
    align-self: flex-start; }
    .blog__cont--titulo {
      margin: 20px 0; }
  .blog__imagen {
    align-self: center; }
    .blog__imagen__img {
      padding: 10px; }
      .blog__imagen__img--der:hover {
        transform: rotate(-10deg); }
      .blog__imagen__img--izq:hover {
        transform: rotate(10deg); } }

@media screen and (min-width: 1199.98px) {
  .blog__cont {
    align-self: center; }
    .blog__cont--titulo {
      margin: 0 0 20px 0; }
    .blog__cont--der {
      padding: 0 0 0 50px;
      margin-left: 25px; }
    .blog__cont--izq {
      margin-right: 25px; }
  .blog__imagen {
    max-width: 500px; }
    .blog__imagen__img--der {
      margin-right: 25px; }
    .blog__imagen__img--izq {
      margin-left: 25px; } }
