@import 'base/reset';
@import 'base/typo';

@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/whatsapp';


@import 'layout/header';
@import 'layout/general';
@import 'layout/banner';
@import 'layout/forms';
@import 'layout/footer';
@import 'layout/cards';

@import 'views/nosotros';
@import 'views/index';
@import 'views/productos';
@import 'views/blog';



.imgBlog img{
    width: 50rem;
    height: auto;
    margin: 1rem 2rem;
    border-radius: 2rem;
}