@mixin button {
    display: inline-block;
    font-family: $font-ppal;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #E4B937;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    color: $color-primario;
    border: none;
    font-weight: bolder;
    width: auto;

    &:hover {
        background-color: $color-primario;
        color: #E4B937;
    }

    @media screen and(min-width: $bp_landscape-phones) {
        padding: 23px 30px;

    }
}

.banner {
    &__btn {
        margin-bottom: 25vh;

        @media screen and(max-height: 340px) {
            margin-bottom: 10vh;
        }

        @media screen and(max-height: 440px) {
            margin-bottom: 15vh;
        }

        &__button {
            @include button();

            @media screen and(min-width: $bp_potrait-phones) {
                font-size: 1.5rem;
            }
        }
    }
}

.btn {
    @include button;
    padding: 15px 10px;
    margin: 10px 5px 0 5px;
}

.blog {
    &__btn {
        padding: 10px 10px;
        background-color: $color-primario;
        color: #fff;
        transition-duration: 0.1s;
        margin: 10px 0;


        &:hover {
            background-color: $color-logo;
            color: $color-primario;
            transform: scale(1.20);
        }
    }
}

.swal-button {
    background-color: #E4B937;
    color: #333;

    &:not([disabled]):hover {
        background-color: #333;
        color: #E4B937;
    }
}

.swal-overlay {
    background-color: rgba(51, 51, 51, 0.932);
}