/* VARIABLES */
$bp_sm-phones: 340px;
$bp_potrait-phones: 575.98px;
$bp_landscape-phones: 767.98px;
$bp_tablets: 991.98px;
$bp_desktops: 1199.98px;


$color-primario: #333;
$color-secundario:#444;
$color-terciario: #555;
$color-cuarto: #777;
$color-quinto: #999;
$color-claro: #bbb;
$color-cajas: #DEDEDE;
$color-logo: #E4B937;
$color-blanco: #fff;

$font-ppal:'Ubuntu', sans-serif;
$font-sec: 'Lustria', serif;
$font-titulos:'Poppins', sans-serif;
