.main{
    &__prod{
        @include flex-col-center;
        padding: 0 25px;
    }
}

.prod{
    @include flex-col-center;
    width: 100%;

    &__cont{
        @include flex-col-center();
        width: 100%;
        margin: 25px 0;
    }
    
    &__titulo{

        &__h3{
        @include titulos-h3();
        }
    }
    &__section{
        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    &__cards, .cards{
        max-width: 350px;
        width: 100%;
        padding: 10px;
        @include flex-col-center();
        

        &__txt{
            padding: 10px;
        }

        &__titulo{
            
            &__h4{
                font-family: $font-ppal;
                color: $color-cuarto;
                font-size: 1.5rem;
                font-weight: 600;
                text-align: justify;               
            }
        }
        &__autor{

            &__h5{
                font-size: 1.5rem;
                margin: 5px 0;
            }
        }
        &__caract{
            padding: 5px 0;

            &__titulo{
                padding: 5px 0;
                color: $color-quinto;
            }
            &__list{
                list-style: none;
                
            }
        }
    }
}

.carousel{
    padding: 10px;
}
.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

@media screen and (min-width: 340px){
    &__cards, .cards{
        
        &__txt{
            width: 250px;
        }
    }
}


@media screen and (min-width: $bp_landscape-phones){
    &__cards, .cards{
        margin: 5px;
    }
}

@media screen and (min-width: $bp_tablets){
    &__cards, .cards{
        margin: 25px;
    }
}

