.main{
    &__prod{
        @include flex-col-center;
        padding: 0 25px;
    }
}

.prod{
    @include flex-col-center;
    width: 100%;

    &__cont{
        @include flex-col-center();
        width: 100%;
    }
    
    &__titulo{

        &__h3{
        @include titulos-h3();
        }
    }
    &__card{
        width: 100%;
        /* box-shadow:-1px 3px 5px 0px rgba(0,0,0,0.75); */ 
        margin:10px;

        &__txt{
            padding: 10px;
        }

        &__titulo{

            &__h4{
                font-family: $font-ppal;
                color: $color-primario;
                font-size: 1.5rem;
                font-weight: 600;
                
            }
        }
        &__autor{

            &__h5{
                font-size: 1.5rem;
                margin: 5px 0;
            }
        }
    }
}
.productos{
    max-width: 350px;
}

.carousel{
    padding: 10px;
}
.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

