.carousel.slide {
    padding: 0;

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .carousel-indicators .bg-img-sol1 {

        background-image: url('../../images/quagenda-sol-frente.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-sol2 {

        background-image: url('../../images/quagenda-sol-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-sol3 {

        background-image: url('../../images/quagenda-sol-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-sol4 {

        background-image: url('../../images/quagenda-sol2-frente.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-sol5 {

        background-image: url('../../images/quagenda-sol2-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-sol6 {

        background-image: url('../../images/quagenda-sol2-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-1 {

        background-image: url('../../images/viajar-blanco-frente.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-2 {

        background-image: url('../../images/viajar-blanco-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-3 {

        background-image: url('../../images/mock-viaje-cel2.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-4 {

        background-image: url('../../images/luna-blanco1.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-5 {

        background-image: url('../../images/luna-blanco-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-6 {

        background-image: url('../../images/mock-Luna.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-7 {

        background-image: url('../../images/cuaderno1-frente.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-8 {

        background-image: url('../../images/cuaderno1.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-9 {

        background-image: url('../../images/mock-cuaderno1.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-10 {

        background-image: url('../../images/cuaderno2.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-11 {

        background-image: url('../../images/cuaderno2-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-12 {

        background-image: url('../../images/mock-cuaderno2.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-13 {

        background-image: url('../../images/bitacora1.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-14 {

        background-image: url('../../images/bitacora1-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-15 {

        background-image: url('../../images/mock-bitacora1.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-16 {

        background-image: url('../../images/bitacora2.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-17 {

        background-image: url('../../images/bitacora2-dorso.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }

    .carousel-indicators .bg-img-18 {

        background-image: url('../../images/mock-bitacora2.jpg');
        @include bg-img();
        width: 30px;
        height: 25px;

    }
}

@media screen and (min-width: $bp_landscape-phones) {
    .carousel.slide {
        .carousel-indicators .bg-img-sol1 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-sol2 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-sol3 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-sol4 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-sol5 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-sol6 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-1 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-2 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-3 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-4 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-5 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-6 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-7 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-8 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-9 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-10 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-11 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-12 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-13 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-14 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-15 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-16 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-17 {
            width: 50px;
            height: 35px;
        }

        .carousel-indicators .bg-img-18 {
            width: 50px;
            height: 35px;
        }
    }

}