.carrito {
    width: 240px;
    right: 0px;

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #777;
        font-size: 25px;
        height: 60px;
        width: 60px;
        position: fixed;
        bottom: 20px;
        right: 10px;
        border-radius: 50%;
        border: none;
        z-index: 10000;
        text-decoration: none;
        color: #fff;
        cursor: pointer;

        &:hover {
            outline: none;
            text-decoration: none;
        }
    }

    &-items {
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
        font-size: 15px;
        height: 25px;
        width: 25px;
        position: fixed;
        bottom: 60px;
        right: 5px;
        border-radius: 50%;
        z-index: 10001;
        text-decoration: none;
        color: #fff;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(85, 85, 85, 0.534);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 19000;
    transition: all 0.3s linear;
    visibility: hidden;

    &__transparentBcg {
        visibility: visible;
    }
}

.navCart {
    min-width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(211, 210, 210);
    top: 0;
    right: 0;
    z-index: 20000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    transition: all 0.3s linear;
    transform: translateX(100%);


    &__showCart {
        transform: translateX(0);
    }

    &__titulo {
        font-size: 3rem;
        color: #333;
        text-align: center;
        margin-top: 5rem;
        text-transform: uppercase;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: "";
            background-color: #E4B937;
            display: inline-block;
            width: 125px;
            height: 3px;
            margin-top: 1rem;
        }

    }

    &__close {
        align-self: flex-start;

        &--icon {
            font-size: 3rem;
            margin: 30px 0 0 30px;
            cursor: pointer;

        }
    }

    &__contenido {
        width: 100%;
    }

    &__items {
        padding: 0 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 25px 0px;

        &--img {
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__producto {
            text-align: left;
            width: 60%;
            padding: 10px 0 10px 10px;
        }

        &--nombre {
            display: flex;
            flex-flow: column wrap;
        }

        &--precio {
            font-weight: bolder;
            font-size: 2rem;
            color: red;

            &::before {
                content: 'AR$ ';
            }
        }

    }

    &__cantidad {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background: #999;
        width: 30px;


        &__items {
            width: 40px;
            text-align: center;

            &--flecha {
                color: #E4B937;
                cursor: pointer;
                padding: 10px 0;
            }
        }
    }


    &__cartTotal {
        color: red;
        font-size: 2.5rem;
        font-weight: bolder;

        &::before {
            content: 'AR$ ';
            color: #333
        }
    }

    &__footer {
        width: 85%;
        text-align: center;

        &--h3 {
            text-transform: uppercase;

        }

        &--vaciarBtn {
            width: 50%;

        }
    }

}

.remove-item {
    color: #777;
    cursor: pointer;
}

/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: $bp_potrait-phones) {
    .carrito {
        &-button {
            font-size: 35px;
            height: 75px;
            width: 75px;
            bottom: 50px;
            right: 50px;
        }

        &-items {
            bottom: 105px;
            right: 50px;
        }

    }

    .navCart {
        width: 30vw;
        min-width: 450px;
    }
}