.footer{
    width: 100%;
    margin-top: 50px;
    
    &__txt, .txt{
        width: 100%;
        height: auto;
        background-color: #222; 
        padding: 50px 50px 50px 50px;  
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    

        &__h3{
            @include titulos-h3();
            color: $color-blanco;
            margin-bottom: 12.5px;
            margin-top: 12.5px;
            font-size: 1.5rem;
        }
        &--contacto{
            margin-top: 0px;
        }
    }
    
    &__titulo{
        margin: 15px 0;

        &__txt{
            color: $color-blanco;
            text-decoration: underline;
            font-size: 2rem;
            font-family: $font-titulos;
            font-weight: 700;
        }
    }
    &__enlaces{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 10px;
        
        &__info{
            margin-top: 10px; 
        }
    
        &__link{
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-blanco;
            font-size: 2.5rem;
        } 
        &__txt{
            font-size: 1.5rem;
            color: $color-blanco;
            margin-left: 10px;
        }
    }
    &__copyright {
        background-color: #000;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 6rem;

        &__txt{
            color: $color-quinto;
            font-size: 1rem;
        }
    }
    &__contacto--mt0{
        margin-top: 0px;
    }
    
    
}


/* Small devices y horiz entre 576px y 768px*/
@media screen and (min-width: $bp_potrait-phones){
    .footer{
        &__txt, .txt{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;

            &__h3{
                font-size: 2rem;
                margin-bottom: 0;
                margin-top: 25px;
            }
        }
        &__titulo{ 
            &__txt{
                font-size: 2.25rem;
            }
        }
        &__enlaces{
            margin-left: 20px;
    
            &__link{
                font-size: 2.5rem;
            } 
        }
        &__copyright {
            &__txt{
            font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: $bp_landscape-phones){

    .footer{   
        padding-top: 50px;
        margin-top: 100px;

        &__txt, .txt{
            padding: 100px 50px 100px 50px;
            margin-top: 100px;
            &--contacto{
                margin-top: 0px;
            }
        }
        &__titulo{
            margin: 15px 0;
        }
    
        &__enlaces{
            margin-top: 0;
        } 
        &__contacto--mt0{
            margin-top: 0px;
            padding-top: 0px;
        }  
    }
}

@media screen and (min-width: $bp_tablets){

    .footer{   

        &__txt, .txt{

            &__h3{
                font-size: 2.5rem;
            }
        
        }
        &__titulo{
            &__txt{
                margin-bottom: 10px;
            }
        }
    
        &__enlaces{
            &__info{
                margin-bottom: 10px;
            }
            &__link{
                font-size: 3.25rem;
            }
            &__txt{
                font-size: 2rem;
            }
        }   
    }
}


