.form{
    margin-bottom: 50px;
    &__suscripcion{
        @include flex-col-center();
        width: 100%;
        padding: 0 25px;
        
    }
    &__legend{
        @include titulos-h1();
        font-size: 3.5rem;
        margin-bottom: 30px;
    }
    &__label{
        @include titulos-h3();
        text-align: center;
        font-weight: 300;
    }
    &__input{
        padding: 23px;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        border: 1px #bbb solid;    
        
        &--button{
            @include button();
            margin: 50px 0;
            padding: 15px 45px;
            background-color:$color-primario;
            color:$color-blanco;
            border: 2px solid;
            @media screen and (min-width: $bp_potrait-phones){
                padding: 23px 50px;
                
            }

            &:hover{
                color: $color-primario;
                background-color: $color-blanco;
                border: 2px solid;
            }
        }
    } 
    
}

@media screen and (min-width: $bp_landscape-phones){

    .form{
        &__legend{
            margin-bottom: 20px;
            font-size: 4rem;
        }
        &__label{
            width: 75%;
        }
        &__input{
            width: 60%;
        }
    }
}
@media screen and (min-width: $bp_tablets){

    .form{
        &__input{
            width: 40%;
        }
    }
}

