.form{
    margin-bottom: 50px;
    &__suscripcion{
        @include flex-col-center();
        width: 100%;
        padding: 0 25px;
        
    }
    &__legend{
        @include titulos-h1();
        font-size: 3.5rem;
        margin-bottom: 30px;
    }
    &__label{
        @include titulos-h3();
        text-align: center;
        font-weight: 300;
    }
    &__input{
        padding: 23px;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        border: 1px #bbb solid; 
        font-size: 1.75rem;   
        
        &--button{
            @include button();
            margin: 50px 0;
            padding: 15px 45px;
            background-color:$color-primario;
            color:$color-blanco;
            border: 2px solid;
            @media screen and (min-width: $bp_potrait-phones){
                padding: 23px 50px;
                
            }

            &:hover{
                color: $color-primario;
                background-color: $color-blanco;
                border: 2px solid;
            }
        }
    } 
    
}

.contacto{
    width: 95%;
    padding: 5px;
    @include flex-col-center();
    border: 1px solid $color-primario;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 15px 15px 5px -1px rgba(0,0,0,1);
    
    &__form{
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__icono{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &__img{
            width: 12%;
        }
    }
    &__postal{
        width: 100%;
    }
    &__contenedor{
        width: 100%;
    }
    &__input{
        font-family: $font-sec;
        font-size: 1.5rem;
        font-weight: 800;
        width: 100%;
        padding: 25px 0 10px 10px;
        margin: 10px 0 ;
        border: 0;
        border-bottom: 2px solid $color-quinto;
        color: $color-secundario;
    }
    &__txt-box{
        width: 100%;
    }
    &__text{
        width: 100%;
        font-family: $font-sec;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 15px 0 0 15px;
    }
    &__desplegable{
        width: max-content;
        margin: 15px 0;
        padding: 10px;
        font-family: $font-sec;
        font-weight: 800;
        color: $color-terciario;
    
        &__opcion{
            font-family: $font-sec;
            font-weight: 800;
            color: $color-terciario;
        
        }
    }
    &__check{
        width: 100%;
        padding: 15px 0;
        &__label{
            font-family: $font-sec;            
        }
    }
    &__btn{
        @include button();
        width: 100%;
        margin-top: 10px;
        font-family: $font-sec;
    }
}
.modals{
    width: 100%;
    @include flex-col-center();

    &__content{
        max-width: 400px;
        padding: 10px;
        border-top: 1px solid $color-quinto;
    }
    
    &__form{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__titulos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--h3{
            @include titulos-h3();
        }
    }
    &__postal{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    &__contenedor{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    &__input{
        font-family: $font-sec;
        font-size: 1.5rem;
        width: 100%;
        padding: 25px 0 10px 10px;
        border: 0;
        border-bottom: 2px solid $color-quinto;
        color: $color-secundario;
    }
    &__desplegable{
        width: 100%;
        margin: 25px 0;
        padding: 10px;
        font-family: $font-sec;
        color: $color-terciario;
    
        &__opcion{
            font-family: $font-sec;
            color: $color-terciario;
        
        }
    }
    &__txt-box{
        width: 100%;
    }
    &__text{
        width: 100%;
        font-family: $font-sec;
        font-size: 1.5rem;
        padding: 10px 0 0 15px;
    }
    
    &__btn{
        @include button();
        width: 100%;
        margin-top: 10px;
        font-family: $font-sec;
    }
}


@media screen and (min-width: $bp_potrait-phones){
    .contacto{
        
        &__form{
            padding: 0 70px;
        }
    }
}
@media screen and (min-width: $bp_landscape-phones){

    .form{
        &__legend{
            margin-bottom: 20px;
            font-size: 4rem;
        }
        &__label{
            width: 75%;
        }
        &__input{
            width: 60%;
        }
    }
    .contacto{
        max-width: 975px;
        margin: 100px 0 125px 0;
        
        &__form{
            justify-content: space-around;
            padding: 10px;
        }
        &__icono{
            order: -1;
            &__img{
                width: 10%;
            }
        }
        &__postal{
            width: 45%;
        }
        &__input{
            order: 2;
            font-size: 1.5rem;
            width: 100%;
            padding: 25px 0 10px 10px;
            margin: 10px 0 ;
            
        }
        &__check{
            order: 3;
            padding: 25px;
        }
        &__txt-box{
            order: -1;
            width: 45%;
            height: 300px;
            
        }
        &__text{
            height: 100%;
            border: 0;
            border-right: 1px dashed $color-quinto;
            padding: 30px 0 0 15px;
        }
        &__desplegable{
            order: 3;
        }
        &__btn{
            order: 3;
            margin:  0 25px 25px 25px;
        }

    }
}
@media screen and (min-width: $bp_tablets){

    .form{
        &__input{
            width: 40%;
        }
    }
}

