.modal {
    .modal-body {
        padding: 0 0 20px 0;
        &__titulo{
            @include titulos-h4();
            color: $color-cuarto;
            font-size: 1.6rem;
            font-weight: 900;
            margin: 20px 0;
            text-align: center;
        }
    }

    .modal-header {
        display: flex;
        align-items: center;
        border-bottom: none;
        height: 60px;
        background-color: #333;
    }
    .modal-header-color{
        @extend .modal-header;
        justify-content: space-between;
        padding: 0 15px;
        background-color: #333;
        margin-bottom: 15px;

    }
    .modal-logo {
        width: 25%;
    }
    .modal-title {
        @include titulos-h3;
        margin-bottom: 0;
        color: #fff;
    }
    
    .modal-footer {
        padding: 0;
        width: 100%;
        justify-content: space-between;

        &__caract {
            padding: 20px;

            &__titulo {
                padding: 5px 10px;
            }
            &__list {
                padding: 0 10px;
                list-style: none;
            }
        }
    }
}

.contenido-modal{
    font-size: 1.5rem;
    text-align: justify;
}
.autor{
    text-align: right;
}
.close{
    color: #fff;
}


@media screen and (min-width: 400px){
    .modal {
        .modal-logo {
            width: 15%;
        }
        
    }
}
@media screen and (min-width: $bp_tablets){
    .modal {
        .modal-header {
            height: 80px;
        }
        
    }
}
