.blog{
    padding: 0 15px;
    @include flex-col-center();

    &__art{
        margin:50px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;      
    }
    &__imagen{
        
        &__img{
            width: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }

    &__cont{
        @include flex-col-center();
        padding: 0 5px;

        &--titulo{
            text-transform: uppercase;
            @include titulos-h4();
            color: $color-cuarto;
            font-size: 1.75rem;
        }
    }
    &__txt{
        text-align: justify;
        &--none{
            display: none;
        }
    }

    &__btn{
        display: block;
        padding: 1.5rem;
        margin-top: 20px;
        background-color: #355070;
        border-radius: .5rem;
        &:hover {
            transform: scale(1.15);
        }

        &--a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}
